<div
*ngFor="let group of camerasGroupsData"
(click)="closeAccordions(group.id)"
class="accordion">
  <div
  (click)="group.isActive = !group.isActive"
  class="accordion__panel">
    <span
    [ngClass]="{'accordion__title_active': group.isActive}"
    class="accordion__title">{{ group.name }}</span>
  </div>

  <div
  *ngIf="group.isActive"
  class="accordion__cameras-container">
    <div
    *ngFor="let camera of group.cameras"
    class="accordion__camera">
      <img class="accordion__icon" src="./assets/images/camera.svg">

      <span
      routerLink="/camera"
      [queryParams]="{ id: camera.id }"
      class="accordion__title_camera">{{ camera.name.length > 40 ? camera.name.slice(0, 40) + '...' : camera.name }}</span>
      <img
      routerLink="/camera"
      [queryParams]="{ id: camera.id  }"
      (click)="saveSidebarState(group.id)"
      class="accordion__placeholder"
      src="{{ camera.preview }}">
    </div>
  </div>

  <div
  *ngIf="group.isActive || (group.cameras && group.cameras.length < 1)"
  class="accordion__cameras-container_tablet"
  (click)="$event.stopPropagation()">
    <div
    *ngFor="let camera of group.cameras"
    class="accordion__camera accordion__camera_tablet">
      <span class="accordion__title_camera accordion__title_camera_tablet">{{ camera.name }}</span>
      <img
      routerLink="/camera"
      [queryParams]="{ id: camera.id }"
      (click)="saveSidebarState(group.id)"
      class="accordion__placeholder accordion__placeholder_tablet"
      src="{{ camera.preview }}">
    </div>
  </div>

</div>
