<div class="filters-content" *ngIf="!openedVideo">
  <div class="filters" [ngClass]="{opened: openedForm}">
    <div class="filters-title" (click)="openedForm = !openedForm">
      <span>Фильтр</span>
    </div>
    <form class="filters-form" (submit)="getEventsList()">
      <div class="form-control">
        <div class="form-control-label">Дата и время с</div>
        <div class="form-control-container with-arrow" [ngClass]="{'opened': openedDTPickers.start}">
          <input class="form-control-input"
                 readonly
                 [(ngModel)]="startDateTime"
                 [ngModelOptions]="{standalone: true}"
                 [owlDateTimeTrigger]="dts"
                 [owlDateTime]="dts">
          <owl-date-time #dts
                         (afterPickerOpen)="openDT('start')"
                         (afterPickerClosed)="closeDT('start')"
                         stepMinute="10"></owl-date-time>
        </div>
      </div>
      <div class="form-control">
        <div class="form-control-label">Дата и время по</div>
        <div class="form-control-container with-arrow" [ngClass]="{'opened': openedDTPickers.end}">
          <input class="form-control-input"
                 readonly
                 [(ngModel)]="endDateTime"
                 [ngModelOptions]="{standalone: true}"
                 [owlDateTimeTrigger]="dte"
                 [owlDateTime]="dte">
          <owl-date-time #dte
                         (afterPickerOpen)="openDT('end')"
                         (afterPickerClosed)="closeDT('end')"
                         stepMinute="10"></owl-date-time>
        </div>
      </div>
      <div class="form-control">
        <div class="form-control-label">Наличие событий</div>
        <div class="form-control-container">
          <div class="form-control-input">
            <mat-select
              [(ngModel)]="withEvents"
              [ngModelOptions]="{standalone: true}">
              <mat-option *ngFor="let type of eventsTypes" [value]="type.value">
                {{type.viewValue}}
              </mat-option>
            </mat-select>
          </div>
        </div>
      </div>
      <div class="form-control" *ngIf="withEvents === 1">
        <div class="form-control-label">Тип событий</div>
        <div class="form-control-container">
          <ul class="form-control-filters-list">
            <li *ngFor="let type of eventTypesList">
              <label class="checkbox">
                <input type="checkbox"
                       [(ngModel)]="selectedEventTypes[type.value]"
                       [ngModelOptions]="{standalone: true}"><span></span>
                {{ type.viewValue }}
              </label>
            </li>
          </ul>
        </div>
      </div>
      <div class="form-control submit-button-container">
        <button type="submit" class="submit-button"
                [disabled]="archiveLoadingProgress">Применить</button>
      </div>
    </form>
  </div>
</div>
<div class="archive-content" *ngIf="!openedVideo" [hidden]="openedForm">
  <div class="archive">
    <div class="archive_group"
         *ngFor="let dateKey of archiveDatesKeys"
         [ngClass]="{opened: openedList === dateKey}">
      <div class="archive_group_title" (click)="openOneDayArchive(dateKey)">
        {{archiveList[dateKey][0].date | date : 'dd.MM.yyyy'}}
      </div>
      <div class="archive_group_list">
        <div class="archive_group_list_item" *ngFor="let oneMoment of archiveList[dateKey]" [hidden]="oneMoment.hidden">
          <div class="archive_group_list_item__background"
               [ngStyle]="{'background-image': 'url(\'' + getSanitizeUrl(camera.analysis !== 1 ? camera.thumb_url + oneMoment.date / 1000 +'/' : camera.thumb_url_record) + '\')'}"
          ></div>
          <img src="./assets/images/16x9.gif" class="img-mask"/>
          <div class="archive_group_list_item-time">
            {{oneMoment.date | date : 'HH:mm'}}
          </div>
          <img src="./assets/images/play-icon.svg" class="play-button" (click)="openVideoFrame(oneMoment)"/>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="video-content" *ngIf="openedVideo">
  <div class="video-header">
    <div class="content-width">
      <div class="video-header_back" (click)="closeVideoFrame()"></div>
      <div class="video-header_group">{{ camera.camera_group.name }}</div>
      <div class="video-header_name">{{ camera.name }}</div>
    </div>
  </div>
  <div class="content-width">
    <div class="video-frame">
      <video width="100%" height="" id="videoPlayer"
             *ngIf="!openedVideo.videoHidden"
             [src]="getSanitizeUrl(camera.archive_url + openedVideo.moment.archivePostfix)"></video>
      <img src="./assets/images/16x9.gif" class="video-frame-mask"/>
    </div>
  </div>
  <div class="video-file-control" [hidden]="openedVideo.pending">
    <div class="content-width">
      <button class="video-file-control_btn video-file-control_speed"
              (click)="upSpeed()">{{openedVideo?.speed || 1}}x</button>
      <a [href]="getSanitizeUrl(camera.archive_url + openedVideo.moment.archivePostfix)"
         target="_blank"
         class="video-file-control_btn video-file-control_download">
        <img src="./assets/images/download-button.svg">
      </a>
      <div class="video-file-control_date">{{openedVideo.moment.originalDate | date : 'dd.MM.yyyy'}}</div>
    </div>
  </div>
  <div class="video-frame-control" [hidden]="openedVideo.pending">
    <div class="content-width">
      <div class="video-progress-bar">
        <button class="video-frame-control_btn video-frame-control__prev" (click)="showPrevDecade()">
          <img src="./assets/images/arrow-prev.svg">
        </button>
        <button class="video-frame-control_btn video-frame-control__next" (click)="showNextDecade()">
          <img src="./assets/images/arrow-next.svg">
        </button>
        <div class="video-progress-line" *ngIf="openedVideo.videoElement?.duration" #videoDurationLine>
          <div class="video-progress-line_position"
               #currentTimePoint
               (mousedown)="markDown($event, videoDurationLine, currentTimePoint)"
               (touchstart)="markDown($event, videoDurationLine, currentTimePoint)"
               [ngStyle]="{marginLeft: openedVideo.currentPosition + '%'}">
            <span class="video-progress-time">
              {{ (openedVideo.moment.date.getTime() + openedVideo.videoElement.currentTime * 1000) | date : 'HH:mm:ss'}}
            </span>
            <img src="./assets/images/mark.svg">
          </div>
          <div class="video-progress-event"
               *ngFor="let event of openedVideo.moment.events"
               [ngStyle]="{
                  width: (event.endTimeMS - event.startTimeMS) / (openedVideo.videoElement.duration * 10)+ '%',
                  left: (event.startTimeMS - openedVideo.moment.date) / (openedVideo.videoElement.duration * 10)+ '%'
               }"
               [hidden]="event.isHidden"
               [ngClass]="{
                  'event-false': !event.reaction,
                  'event-true': (event.reaction === 1),
                  'event-neutral': (event.reaction === -1)
               }"
          ></div>
          <div class="video-progress-point"
               *ngFor="let point of videoElement.timePicks; let i = index;"
               [ngStyle]="{marginLeft: (i * 20) + '%'}">
            {{point | date : 'HH:mm'}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
