<header class="header">
  <span
    class="header__close"
    *ngIf="currentUrl === 'stream'"
    (click)="logout()"
  ></span>

  <img
    class="header__arrow"
    src="./assets/images/arrow-back.svg"
    alt="arrow back"
    *ngIf="currentUrl === 'archive'"
    routerLink="stream"
  >

  <select
  class="header__select"
  (change)="onChange()"
  [(ngModel)]="selectedOrganizationId">
    <option
    *ngFor="let org of organizationsData"
    [value]="org.id">{{ org.name }}</option>
  </select>
</header>
